@model UserProfileViewModel
@{
    ViewData["Title"] = "My Profile";
}
<style>
    .hidden-file-input {
        display: none;
    }
</style>
<div class="middle-sidebar-left">
    <div class="row">
        <div class="col-lg-12">
            <div class="card w-100 border-0 p-0 bg-white shadow-xss rounded-xxl">
                @if (Model.BackgroundImageUrl == "DefaultBackgroundImage")
                {
                    <div class="card-body h250 p-0 rounded-xxl overflow-hidden m-3"><img src="@Url.Action("GetFile", "File", new { folderName = "DefaultImages", fileName = "DefaultBackgroundImage.jpg" })"></div>
                }
                else
                {
                    <div class="card-body h250 p-0 rounded-xxl overflow-hidden m-3"><img src="@Url.Action("GetFile", "File", new { folderName = "UserProfileMedias", fileName = Model.BackgroundImageUrl })"></div>
                }

                <div class="card-body p-0 position-relative">
                    @if (Model.ProfileImageUrl == "DefaultProfileImage")
                    {
                        <figure class="avatar position-absolute w100 z-index-1" style="top:-40px; left: 30px;"><img src="@Url.Action("GetFile", "File", new { folderName = "DefaultImages", fileName = "DefaultProfileImage.jpg" })" alt="ProfileImage" class="float-right p-1 bg-white rounded-circle w-100"></figure>
                    }
                    else
                    {
                        <figure class="avatar position-absolute w100 z-index-1" style="top:-40px; left: 30px;"><img src="@Url.Action("GetFile", "File", new { folderName = "UserProfileMedias", fileName = Model.ProfileImageUrl })" alt="ProfileImage" class="float-right p-1 bg-white rounded-circle w-100"></figure>
                    }
                    <h4 class="fw-700 font-sm mt-2 mb-lg-5 mb-4 pl-15">@Model.FirstName @Model.LastName <span class="fw-500 font-xssss text-grey-500 mt-1 mb-3 d-block">@Model.UserName</span></h4>
                    <div class="d-flex align-items-center justify-content-center position-absolute-md right-15 top-0 me-2">
                        @{
                            var userIdFromCookie = Context.Request.Cookies["UserId"];
                        }

                        @if (Model.UserId == userIdFromCookie)
                        {
                        }
                        else
                        {
                            <a href="#" class="d-none d-lg-block bg-success p-3 z-index-1 rounded-3 text-white font-xsssss text-uppercase fw-700 ls-3">Add Friend</a>
                            <a href="#" class="d-none d-lg-block bg-greylight btn-round-lg ms-2 rounded-3 text-grey-700"><i class="feather-mail font-md"></i></a>
                            <a href="#" id="dropdownMenu4" class="d-none d-lg-block bg-greylight btn-round-lg ms-2 rounded-3 text-grey-700" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more font-md tetx-dark"></i></a>
                            <div class="dropdown-menu dropdown-menu-end p-4 rounded-xxl border-0 shadow-lg" aria-labelledby="dropdownMenu4">
                                <div class="card-body p-0 d-flex">
                                    <i class="feather-bookmark text-grey-500 me-3 font-lg"></i>
                                    <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-0">Save Link <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Add this to your saved items</span></h4>
                                </div>
                                <div class="card-body p-0 d-flex mt-2">
                                    <i class="feather-alert-circle text-grey-500 me-3 font-lg"></i>
                                    <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-0">Hide Post <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Save to your saved items</span></h4>
                                </div>
                                <div class="card-body p-0 d-flex mt-2">
                                    <i class="feather-alert-octagon text-grey-500 me-3 font-lg"></i>
                                    <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-0">Hide all from Group <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Save to your saved items</span></h4>
                                </div>
                                <div class="card-body p-0 d-flex mt-2">
                                    <i class="feather-lock text-grey-500 me-3 font-lg"></i>
                                    <h4 class="fw-600 mb-0 text-grey-900 font-xssss mt-0 me-0">Unfollow Group <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Save to your saved items</span></h4>
                                </div>
                            </div>
                        }
                    </div>
                </div>


            </div>
        </div>
        <div class="col-xl-4 col-xxl-3 col-lg-4 pe-0">

            <div class="card w-100 shadow-xss rounded-xxl border-0 mt-3 mb-3">
                <div class="card-body d-block p-4">
                    <h4 class="fw-700 mb-3 font-xsss text-grey-900">About</h4>
                    <p class="fw-500 text-grey-500 lh-24 font-xssss mb-0">@Model.Bio</p>
                </div>
                <div class="card-body d-flex pt-0">
                    <i class="feather-user text-grey-500 me-3 font-lg"></i>
                    <h4 class="fw-700 text-grey-900 font-xssss mt-1">@Model.Gender</h4>
                </div>
                @if (Model.Country is not null && Model.City is not null)
                {
                    <div class="card-body d-flex pt-0">
                        <i class="feather-map-pin text-grey-500 me-3 font-lg"></i>
                        <h4 class="fw-700 text-grey-900 font-xssss mt-1">@Model.Country, @Model.City</h4>
                    </div>
                }
                else if (Model.City is null && Model.Country is not null)
                {
                    <div class="card-body d-flex pt-0">
                        <i class="feather-map-pin text-grey-500 me-3 font-lg"></i>
                        <h4 class="fw-700 text-grey-900 font-xssss mt-1">@Model.City</h4>
                    </div>
                }
                else { }
            </div>
            <div class="card w-100 shadow-xss rounded-xxl border-0 mb-3">
                <div class="card-body d-flex align-items-center  p-4">
                    <h4 class="fw-700 mb-0 font-xssss text-grey-900">Photos</h4>
                    <a href="#" class="fw-600 ms-auto font-xssss text-primary">See all</a>
                </div>
                <div class="card-body d-block pt-0 pb-2">
                    <div class="row">
                        <div class="col-6 mb-2 pe-1"><a href="images/e-2.jpg" data-lightbox="roadtrip"><img src="images/e-2.jpg" alt="image" class="img-fluid rounded-3 w-100"></a></div>
                        <div class="col-6 mb-2 ps-1"><a href="images/e-3.jpg" data-lightbox="roadtrip"><img src="images/e-3.jpg" alt="image" class="img-fluid rounded-3 w-100"></a></div>
                        <div class="col-6 mb-2 pe-1"><a href="images/e-4.jpg" data-lightbox="roadtrip"><img src="images/e-4.jpg" alt="image" class="img-fluid rounded-3 w-100"></a></div>
                        <div class="col-6 mb-2 ps-1"><a href="images/e-5.jpg" data-lightbox="roadtrip"><img src="images/e-5.jpg" alt="image" class="img-fluid rounded-3 w-100"></a></div>
                        <div class="col-6 mb-2 pe-1"><a href="images/e-2.jpg" data-lightbox="roadtrip"><img src="images/e-2.jpg" alt="image" class="img-fluid rounded-3 w-100"></a></div>
                        <div class="col-6 mb-2 ps-1"><a href="images/e-1.jpg" data-lightbox="roadtrip"><img src="images/e-1.jpg" alt="image" class="img-fluid rounded-3 w-100"></a></div>
                    </div>
                </div>
                <div class="card-body d-block w-100 pt-0">
                    <a href="#" class="p-2 lh-28 w-100 d-block bg-grey text-grey-800 text-center font-xssss fw-700 rounded-xl"><i class="feather-external-link font-xss me-2"></i> More</a>
                </div>
            </div>

        </div>
        <div class="col-xl-8 col-xxl-9 col-lg-8">


            <div class="card w-100 shadow-xss rounded-xxl border-0 ps-4 pt-4 pe-4 pb-3 mb-3 mt-3">
                <div class="card-body p-0">
                    <a href="#" class=" font-xssss fw-600 text-grey-500 card-body p-0 d-flex align-items-center"><i class="btn-round-sm font-xs text-primary feather-edit-3 me-2 bg-greylight"></i>Create Post</a>
                </div>
                <div class="card-body p-0 mt-3 position-relative">
                    @if (Model.ProfileImageUrl == "DefaultProfileImage")
                    {
                        <figure class="avatar position-absolute ms-2 mt-1 top-5"><img src="@Url.Action("GetFile", "File", new { folderName = "DefaultImages", fileName = "DefaultProfileImage.jpg" })" alt="image" class="shadow-sm rounded-circle w30"></figure>
                    }
                    else
                    {
                        <figure class="avatar position-absolute ms-2 mt-1 top-5"><img src="@Url.Action("GetFile", "File", new { folderName = "UserProfileMedias", fileName = Model.ProfileImageUrl })" alt="image" class="shadow-sm rounded-circle w30"></figure>
                    }
                    <textarea id="decriptionId" name="message" class="h100 bor-0 w-100 rounded-xxl p-2 ps-5 font-xssss text-grey-500 fw-500 border-light-md theme-dark-bg" cols="30" rows="10" placeholder="What's on your mind?"></textarea>
                </div>
                <input type="hidden" id="userId" value="@Model.UserId">
                <input type="hidden" id="tokenId" value="@Model.Token">
                <div class="card-body d-flex p-0 mt-0">
                    <a class="d-flex align-items-center font-xssss fw-600 ls-1 text-grey-700 text-dark pe-4" id="photoVideoLink">
                        <i class="font-md text-success feather-image me-2"></i>
                        <span class="d-none-xs">Photo/Video</span>
                    </a>
                    <input type="file" id="fileInput" class="hidden-file-input" multiple>
                    <button id="PostBtn" type="submit" class="btn btn-success text-center text-white ms-auto" style="pointer-events: auto; opacity: 1;">Post</button>
                </div>
            </div>

            <div class="container">
                @foreach (var post in Model.Posts)
                {
                    <div class="card shadow-xss rounded-xxl border-0 p-4 mb-3">
                        <div class="card-body p-0 d-flex">
                            @if (post.UserProfileImageUrl == "DefaultProfileImage")
                            {
                                <figure class="avatar me-3"><img src="@Url.Action("GetFile", "File", new { folderName = "DefaultImages", fileName = "DefaultProfileImage.jpg" })" alt="image" class="shadow-sm rounded-circle w45"></figure>
                            }
                            else
                            {
                                <figure class="avatar me-3"><img src="@Url.Action("GetFile", "File", new { folderName = "UserProfileMedias", fileName = post.UserProfileImageUrl })" alt="image" class="shadow-sm rounded-circle w45"></figure>
                            }
                            <h4 class="fw-700 text-grey-900 font-xssss mt-1">@post.UserName <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">@post.ElapsedTime</span></h4>
                            <a href="#" class="ms-auto" id="dropdownMenu4" data-bs-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt text-grey-900 btn-round-md bg-greylight font-xss"></i></a>
                            <div class="dropdown-menu dropdown-menu-start p-4 rounded-xxl border-0 shadow-lg" aria-labelledby="dropdownMenu4">
                                <div class="card-body p-0 d-flex">
                                    <i class="feather-lock text-grey-500 me-3 font-lg"></i>
                                    <h4 class="fw-600 mb-0 text-grey-900 font-xssss mt-0 me-4">Hide post <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Only you can see it</span></h4>
                                </div>
                                <div class="card-body p-0 d-flex mt-2">
                                    <i class="feather-alert-octagon text-grey-500 me-3 font-lg"></i>
                                    <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">Delete post <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Permanently delete post</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0 me-lg-5">
                            <p class="fw-500 text-grey-500 lh-26 font-xssss w-100">@post.Description</p>
                        </div>
                        @if (post.PostMedias is not null)
                        {
                            <div class="card-body d-block p-0">
                                <div class="row ps-2 pe-2">
                                    @if (post.PostMedias.Count == 1)
                                    {
                                        @foreach (var media in post.PostMedias)
                                        {
                                            <div class="p-1"><a href="images/t-10.jpg" data-lightbox="roadtrip"><img src="@Url.Action("GetFile", "File", new { folderName = "PostMedias", fileName = media.MediaUrl })" class="rounded-3 w-100" alt="image"></a></div>
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var media in post.PostMedias)
                                        {
                                            <div class="col-xs-4 col-sm-4 p-1"><a href="images/t-10.jpg" data-lightbox="roadtrip"><img src="@Url.Action("GetFile", "File", new { folderName = "PostMedias", fileName = media.MediaUrl })" class="rounded-3 w-100" alt="image"></a></div>
                                        }
                                    }
                                    <div class="col-xs-4 col-sm-4 p-1"><a href="images/t-12.jpg" data-lightbox="roadtrip" class="position-relative d-block"><img src="images/t-12.jpg" class="rounded-3 w-100" alt="image"><span class="img-count font-sm text-white ls-3 fw-600"><b>+2</b></span></a></div>
                                </div>
                            </div>
                        }
                        <div class="card-body d-flex p-0 mt-3">
                            <a class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-3"><i class="feather-thumbs-up text-white bg-primary-gradiant me-1 btn-round-xs font-xss"></i>@post.LikesCount Likes</a>
                            <a class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i>Comments</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('photoVideoLink').addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('fileInput').click();
    });
</script>


